



/* HEADER */
.my-height-row-header{
    background-color: lightblue;
    height: 5rem;
}
/* sezioni header */
.section-col-header{
    border: 1px solid black;
}

/* JUMBOTRON */
.my-principale-img{
    height: 30rem;
    background-color: aquamarine;
}

.my-title-col{
    background-color: brown;
    height: 10rem;
}

.my-schede-col{
    height: 40rem;
    background-color: chocolate;
}

.my-bg-container-paragrafo{
    background-color: cadetblue;
}

.my-paragrafo{
    height: 30rem;
}

.my-contact-me{
    background-color: blueviolet;
    height: 30rem;
}

.my-location{
    background-color: cornflowerblue;
    height: 30rem;
}

.footer{
    height: 12rem;
    background-color: black;
}